<body>
    <div class='container'>
        <p class='title'>DCMA Notice and Takedown Policy</p>
        <p>Rubick Cloud Music respects and protects all the users' IP and creative ideas. We do not accept any styles of copy-and-paste, cheating, and stealing during
        the time you using our Web Application. Below is the specification of our DCMA policy:</p>
        
        <p class='title'>DCMA Declearation</p>
        <p>Users could write their own reviews, ideas and opinions about the posted musics. However, we DO NOT allow the following 
        actions during the using process:</p>
        
        <ul>
            <li>Literally copy others' reviews and comments and post again.</li>
            <li>Intentially post same general comments for different songs to bother others.</li>
            <li>Steal others' reviews from other websites without mentioning the real author. </li>
        </ul>
        
        
        <p class='title'>Takedown Policy</p>
        <p>Once your account/comment/reviews got reported from other users, the administrator will check and review the report 
        message. If the cheating has been verified, you might face the following punishment:</p>
        
        <ul>
            <li>Your post will be removed immediately.</li>
            <li>Your account will get banned (deactivated) for 24 hours.</li>
            <li>You might face a fine of stealing others IP according to how bad the effect of your action caused.</li>
        </ul>
    </div>
</body>