<body>
    <p class='HeaderFont'>Add a new Music to your homepage.</p>
    <p *ngIf='errorMsg' style='color: red;'>{{errorMsg}}</p>
    <hr>
    <div class='newMusicContainer'>
        <div class='fieldHeader'>Name</div>
            <input type="text" name="name" id='musicName'/>
        <div class='fieldHeader'>Album</div>
            <input type="text" name="album" id='musicAlbum'/>
        <div class='fieldHeader'>Artist</div>
            <input type="text" name="artist" id='musicArtist'/>
        <div class='fieldHeader'>Year</div>
            <input type="date" name="year" id='musicYear'/>
        <div class='fieldHeader'>Track</div>
            <input type="text" name="track" id='musicTrack'/>
        <div class='fieldHeader'>Genre</div>
            <input type="text" name="genre" id='musicGenre'/>
    </div>
    <div class='buttonDiv' style="text-align:center;">
        <button class="confirmBtn" (click)=addMusic()>ADD MUSIC</button>
    </div>
</body>