<body>
    <div class='userContainer'>
        <ul *ngIf='users' style='list-style:none;'>
            <li *ngFor='let user of users' class='userList'>
                <img src="../assets/userImg.png">
                <div class='userInfo'>
                    <p>{{user.username}}</p>
                </div>
                <div class='manageBtns'>
                    <div class='detectGivePrivilegeAuth' *ngIf='isSuperManager'>
                    <button *ngIf="user.superManager== false && user.manager==false" (click)=givePrivilege(user._id)>Give Privilege</button>
                    <button *ngIf='user.superManager== false && user.manager==true' (click)=cancelPrivilege(user._id)>Cancel Privilege</button>
                    </div>
                    <button *ngIf='user.deactivated == false && user.superManager == false' (click)=setDeactivated(user._id)>Deactivate</button>
                    <button *ngIf='user.deactivated == true && user.superManager == false' (click)=cancelDeactivated(user._id)>Cancel Deactivate</button>
                </div>
            </li>
        </ul>
    </div>
</body>