.container {
    width: 80%;
    font-size: 18px;
    background-color: lightgray;
    padding: 0 50px;
}

.title{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.copyright {
    font-weight: bold;
    font-size: 18px;
    color: darkblue;
    text-align: center;
}