.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
    p{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
}

.chooseBtn {
    width: 180px;
    height: 60px;
    margin: 0 50px;
    background-color: #c62f2f;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}


.manageTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 40px 60px;
}

.chooseArea{
    border: 4px solid black;
    width: 100%;
    height: 200px;
}