.introPage
{
    margin: 50px auto;
    background-image: url("../../assets/headerIntro.png");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}

.introPage p {
    color: #fff;
    font-size: 20px;
    width: 80%;
    text-align: center;
    position: relative;
    top: 400px;
    margin: 0 auto;
    
}