//area
.containerLogin {
    width: 60%;
    margin: 80px auto;
}

.loginTitle {
    font-family: 'Nunito', 'sans-serif';
    font-weight: bold;
}

.loginInfo {
    width: 80%;
    margin: 15px auto;
}

.containerRegis {
    width: 60%;
    margin: 0 auto;
}

//fonts
.forgotPw {
    font-style: italic;
    color: gray;
    font-size: 12px;
    margin-left: 30px;
}

.registOne {
    font-weight: bold;
    font-size: 16px;
}
.registFont {
    font-weight: bold;
    font-size: 16px;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}