<body>
    <div class="containerLogin">
        <p class="loginTitle">Login With your Rubick Cloud Music Account!</p>
        <hr>
    <div class="loginInfo">
        <p>Username</p>
        <input type="text" name="username"/>
        <br>
        <p>Password</p>
        <input type="password" name="password"/>
        <br>
        <br>
        <button class="confirmBtn">Login</button>
        <span class="forgotPw">Forgot Password?</span>
        
    </div>
    <hr>
    <div class="containerRegis">
        <span class="registOne">Do not have an account? </span><span class="registFont" routerLink='/regis'>Register one !</span>
    </div>
    </div>
</body>