<body>
    <div class="containerRegister">
        <p class="regisTitle">Register your Rubick Cloud Music Account!</p>
        <p *ngIf='errorMsg'>{{errorMsg}}</p>
        <hr>
    <div class="regisInfo">
        <p>Username</p>
        <input type="text" name="username" id="username"/>
        <br>
        <p>Password</p>
        <input type="password" name="password" id="password"/>
        <br>
        <br>
        <button class="confirmBtn" (click)=signUp()>Sign Up</button>
    </div>
    <hr>
    <div class="containerRegis">
        <span class="registOne">Have an account? </span><span class="registFont" routerLink='/login'>Log in with it!</span>
    </div>
    </div>
</body>