.name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.itemsList {
    margin: 30px 0;
}

.itemsList ul{
    list-style-type: none;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px;
}

.itemsList ul li {
    background: #fff;
    margin: 30px 0;
    
    button {
    text-align: center;
    width: 100px;
    height: 40px;
    margin: 0 70px;
}
}

.container {
    width: 80%;
}

img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



hr {
    margin-top: 20px;
}

p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}


