.songList {
    border: 2px solid black; 
    margin: 15px auto;  
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px;
    
    img {
        width: 100px;
        height: 100px;
    }
    p {
        font-size: 30px;
        font-weight: bold;
        margin: 10px 0;
    }
}

button {
    width: 100px;
    height: 40px;
    background-color: #c62f2f;
    color: #fff;
    margin: 5px 0 0 0 ;
    
}