.privacyBtn {
    background-color: #c62f2f;
    width: 70px;
    height: 70px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
}

.DMCABtn {
    background-color: #c62f2f;
    width: 70px;
    height: 70px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 80px;
    margin-bottom: 10px;
}