$primary: #c62f2f;
.name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.itemsList {
    margin: 30px 0;
}

.itemsList ul{
    list-style-type: none;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px;
}

.itemsList ul li {
    background: #fff;
    margin: 30px 0;
}

hr {
    margin-top: 20px;
}

p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
}

img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 180px;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.username {
    text-align: center;
    font-weight: bold;
}
.comment {
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: Italic;
    font-size: 18px;
    text-align: left;
}

.userrate {
    color: gold;
    font-weight: bold;
    text-align: left;
}

.date {
    font-size: 15px;
    text-align: right;
}

.userImg {
    border-right: 2px solid black;
    margin-right: 10px;
}


.commentInput {
    width: 1000px;
    height: 150px;
}

.dateInput {
    width: 150px;
    height: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.bottomArea {
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
        background: $primary;
        margin: 0 10px 0 30px;
    }
    
button {
    background: $primary;
    color: #fff;
    margin-right: 30px;
}

